.main-view {
  color: steelblue;
  font-size: 36px;
  text-align: center;
  padding: 10%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
}