.card-image {
  width: 250px;
  height: 250px;
}

.card {
  width: 20%;
  height: auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.product-text {
  font-size: small;
  text-transform: capitalize;
}

.product-title {
  text-transform: capitalize;
}

.button {
  color: red;
}